extends ../layout

block content
    h1 Checkout
    form(action="/products/checkout", method="post" )
        .form-group 

            label(for="tourDestination") Tour Destination
            input#tourDestination(type="text", class="form-control", name='tourDestination',value=newbooking.tourDestination)
        .form-group 
            label(for="id") Tour ID
            input#id(type="text", class="form-control", name='id',value=newbooking.id)
        .form-group 
            label(for="tourStart") Tour Start
            input#tourStart(type="date", class="form-control", name='tourStart',value=newbooking.tourStart)
        .form-group 
            label(for="noOfDays") Number of Days
            input#noOfDays(type="text", class="form-control", name='noOfDays',value=newbooking.noOfDays)
        .form-group 
            label(for="charges") Charges($)
            input#charges(type="text", class="form-control", name='charges',value=newbooking.charges)
            input(type="submit", class="btn btn-info")