extends ../layout

block content
    h1 Edit Tour Details
    form(action="/products/edit/"+booking._id, method="post" )
        .form-group 
            label(for="tourDestination") Tour Destination
            input#tourDestination(type="text", class="form-control", name='tourDestination', value=booking.tourDestination)
        .form-group 
            label(for="id") Tour ID
            input#id(type="text", class="form-control", name='id', value=booking.id)
        .form-group 
            label(for="noOfSeats") Number of Seats
            input#noOfSeats(type="text", class="form-control", name='noOfSeats', value=booking.noOfSeats)
        
        .form-group 
            label(for="tourStart") Tour Start
            input#tourStart(type="date", class="form-control", name='tourStart', value=booking.tourStart)
        .form-group 
            label(for="noOfDays") Number of Days
            input#noOfDays(type="text", class="form-control", name='noOfDays', value=booking.noOfDays)
        .form-group 
            label(for="charges") Charges
            input#charges(type="text", class="form-control", name='charges', value=booking.charges)
        input(type="submit", class="btn btn-info")