extends ../layout

block content
    .row
        .col-sm-8
            h1 Available Tours
            
        if user
            .col-sm-4
                a(href="/products/add",class="btn btn-success float-right") Add A Tour
        
    table.table
        thead 
            tr
                th Tour Destination
                th TourID
                th No.Of Seats
                th Tour Start
                th Duration(Days)
                th Charges($)
                if !user
                    th Add to Cart

        tbody
            each product in products
                tr
                    td=product.tourDestination
                    td=product.id
                    td=product.noOfSeats
                    td=product.tourStart
                    td=product.noOfDays
                    td=product.charges
                    if user
                        td
                            a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                            a(href="/products/edit/"+product._id, class="btn btn-warning") Edit
                    if !user
                        td
                            a(href="/products/cart/"+product._id, class="btn btn-info") Add to Cart  
                        
                        